.content {
  &__counter {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    width: 100%;
    width: calc(33.33333% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 20px;

    span {
      margin-right: 10px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
  }

  &__col {
    width: calc(33.33333% - 10px);
    border: 1px solid #000;
    border-radius: 10px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
  }
}