.header {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #07f2e6;
    padding: 0 20px;
    border-radius: 30px;
    border: 1px solid #041ff2;
  }

  // &__logo {}

  // &__watch {}
}